# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.venv/
.uv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# local configs
.env
config.yaml

# data artifacts
data/
!data/.gitkeep

# OS/editor
.DS_Store
.vscode/
.idea/
